.wrapper {
    background-color: #fff;
    border-radius: 10px;
}

.projectName {
    font-size: 17px;
    font-weight: 500;
    padding: 15px 20px;
    color: #232325;

    &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }
}

.active {
    background-color: #f0f0f0;
}